################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AgileBrewing/WebApplication/App_Data/nhlite.db
/AgileBrewing/WebApplication/connectionstrings.config
